/* Section Pricing */

@media (max-width: 1200px) {
    .container-pricing-row {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .pricing-heading-wrapper {
        text-align: center;
    }

    .pricing-content {
        width: 100%;
    }

    .pricing-card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

@media (max-width: 760px) {
    .pricing-content {
        gap: 30px;
    }

    .pricing-content {
        flex-direction: column;
        align-items: center;
    }

    .pricing-card {
        flex: 1 1 425px;
        max-width: 425px;
        width: 100%;
    }
}